@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family:'Roboto', sans-serif;
    margin: 0;
    min-height: 100vh;
}

.container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    padding: 50px;
    gap: 0px;
}

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.Hero, .footer {
    background-color: #1F2937;
}

.Hero {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.footer {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Quote-Section .text {
    font-style: italic;
    font-weight: lighter;
}

.Quote-Section .author {
    display: flex;
    justify-content: end;
    font-size: 20px;
    font-weight: 900;
}


.Quote-Section {
    display: flex;
    background-color: #E5E7EB;
    font-size: 36px;
    color:#1F2937;
    justify-content: center;
    align-items: center;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.Hero-Main-Text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    line-height: 90px;
}

.Hero-Secondary-Text, .Header-Link-Text {
    font-size: 18px;
    color: #E5E7EB;
}

.Header-Logo-Text {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    margin-left: 140px;
}

.Call-to-Action {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.container-4 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: white;
    background-color: #3882F6;
    width: 800px;
    padding: 30px;
    border-radius: 10px;
    margin: 48px;
    gap: 32px;
}

.container-4, button {
    display: flex;
    align-items: center;
}




button {
    background-color: #3882F6;
}

.Information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-2 {
    display: flex;
    justify-content: center;
    gap: 42px;
    margin-bottom: 36px;
}
  
.info {
    max-width: 150px;
}

.box {
    width: 100px;
    height: 100px;
}

button {
    color: white;
    display: flex;
    font-size: 18px;
    height: 40px;
    width: 150px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-color: white;
    border-style:solid;
    border-width:thin;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

img {
    height: 300px;
    width: auto;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px
  }